<!DOCTYPE html>
<html>
    <h1> S.I.D. Technologies </h1>
    <img>
    <h2>Summary
      <br></br>
      <!-- space &nbsp; <em>space</em> -->
      <br></br>
      <!-- break -->
    </h2>

    <h2>
      <br> </br>

    </h2>
    <h2>Header</h2>
      Text
    <h2>Header</h2>
      Text
    <h2>Header</h2>

    <p>
      <li>
        <!-- <a href="photos.html">Friends</a> -->
      </li>

      </ol>
    </p>
</html>



<!-- {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->
