<head>

    <title>Sid Technologies</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Be Agile on the go!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


</head>

<body>
	<nav class="topnav">
		<img src="img/basicsidlogo.png" class="logo-img"/>
		<a href="/">Home</a>

		<!-- <a href="projectbacklog.html">Project Backlog</a> -->
		<a href="/getSprint">Current Sprint</a>
		<a href="/getTask">Scrum Board</a>
		<a style="float:right" href="{{logout_url}}">Logout</a>
 	</nav>


	<div class="container">
		<section class="project-story">
			<h2>
				Sprint Story
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</section>

		<section class="user-stories-section well">
			<h2>
				User Stories
				<button class="iconbtn" id="addUS"><i class="fas fa-plus"></i></button>
			</h2>
			<div class="row">
				<!-- There will be one of these for each user story -->
        {% for story in stories %}
				<div class="col-md-6">
					<div class="user-story well">
						<p class="title">
							User Story Points: {{story.storyPoints}}
							<button class="iconbtn" id="editUS"><i class="far fa-edit"></i></button>
						</p>
						<p class="details">
							{{story.storyDescription}}
						</p>
					</div>
				</div>
        {% endfor %}
			</div>
		</section>

		<section class="goals-section well">
			<h2>
				Goals
				<button class="iconbtn" id="addGoal"><i class="fas fa-plus"></i></button>
			</h2>
			<div class="row">
				<!-- There will be one of these for each user story -->
        {% for goal in goals %}
				<div class="col-md-12">
					<div class="goal well">
						<p class="title">
							MoSCoW: {{goal.moscow}}
							<button class="iconbtn" id="editGoal"><i class="far fa-edit"></i></button>
						</p>
						<p class="details">
							{{goal.goalDescription}}
						</p>
					</div>
				</div>
        {% endfor %}
			</div>
		</section>

	</div>



	<!-- The Modal -->
	<div id="modalUS" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <span class="close">&times;</span>
	    <form action="/getUserStory" method="post">
	    	Description:<br>
	    	<input type="text" name="storyDescription"><br>
	    	<!-- Details:<br>
	    	<input type="text" name="userstorydetails"><br>
	    	Goal Association:<br>
	    	<input type="text" name="goalassociation"><br> -->
	    	Number of Story Points:<br>
	    	<input type="text" name="storyPoints"><br>
	    	<input type="submit" value="Save">
	    </form>
	  </div>
	</div>

	<div id="modalGoal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <span class="close">&times;</span>
	    <form action="/getGoal" method="post">
	    	<!-- Name:<br>
	    	<input type="text" name="goalname"><br> -->
	    	Details:<br>
	    	<input type="text" name="goalDescription"><br>
	    	MoSCoW Rating:<br>
	    	<input type="text" name="moscow"><br>
	    	<input type="submit" value="Save">
	    </form>
	  </div>
	</div>

	<!-- jQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript">
    var modalUS = document.getElementById('modalUS');
    var modalGoal = document.getElementById('modalGoal');
	// Get the button that opens the modal
	var btneditUS = document.getElementById("editUS");
	var btnaddUS = document.getElementById("addUS");
	var btneditGoal = document.getElementById("editGoal");
	var btnaddGoal = document.getElementById("addGoal");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];
	// When the user clicks on the button, open the modal
	btneditUS.onclick = function() {
	    modalUS.style.display = "block";
	}
	btnaddUS.onclick = function() {
	    modalUS.style.display = "block";
	}
	btneditGoal.onclick = function() {
	    modalGoal.style.display = "block";
	}
	btnaddGoal.onclick = function() {
	    modalGoal.style.display = "block";
	}
	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	    modalUS.style.display = "none";
	   	modalGoal.style.display = "none";
	}
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modalUS) {
	        modalUS.style.display = "none";
	    }
	    else if (event.target == modalGoal)
	    	modalGoal.style.display = "none";
	}</script>
</body>
