<!DOCTYPE html>
<html lang="en">

<head>

    <title>Sid Technologies</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Be Agile on the go!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


</head>

<body>
		<nav class="topnav">
		<img src="img/basicsidlogo.png" class="logo-img"/>
		<a href="/">Home</a>

		<!-- <a href="projectbacklog.html">Project Backlog</a> -->
		<a href="/getSprint">Current Sprint</a>
		<a href="/getTask">Scrum Board</a>
		<a style="float:right" href="{{logout_url}}">Logout</a>
 	</nav>

	<section class="general-sprint content-section">
		<h2>General Sprint Information
			<button class="iconbtn" id="btnGSI"><i class="far fa-edit"></i></button>
		</h2>
		<table>
      {% for sprint in sprints %}
      <!-- {{sprint.username}} @ {{sprint.date_time}} -->
        <tr>
          <div class="sprints">
            <tr><td>Product Name</td><td>{{sprint.projectName}}</td></tr>
            <tr><td>Product Owner</td><td>{{sprint.projectOwner}}</td></tr>
            <tr><td>Scrum Master</td><td>{{sprint.scrumMaster}}</td></tr>
            <tr><td>Development Team</td><td>{{sprint.team}}</td></tr>
            <tr><td>Sprint</td><td>{{sprint.sprintNum}}</td></tr>
            <tr><td>Sprint Planning Meeting</td><td>{{sprint.sprintPlanDate}}</td></tr>
            <tr><td>Scrum Times</td><td>{{sprint.scrumMeetDate}}</td></tr>
            <tr><td>Retrospective</td><td>{{sprint.sprintRetroDate}}</td></tr>
          </div>
        </tr>
      {% endfor %}
		</table>



	</section>

  <form action="/getTask" method="post">
   <table class="center" width = 70%>
     <tr>
       <th>Task Description: </th>
       <th>Task Owner: </th>
       <th>Task Length: </th>
       <th>Task Notes: </th>
     </tr>

     <tr>
       <td>
         <input name='taskDescription' class="inline" placeholder='Name' required>
       </td>
       <td>
         <input name='taskOwner' class="inline" placeholder='Name' required>
       </td>
       <td>
         <input name='taskLength' class="inline" type="number" step='1' placeholder='Hours' required>
       </td>
       <td>
         <input name='taskNotes' class="inline" placeholder='Team member, notes, etc.'>
       </td>
       <td id="add_box">
         <p><input type="submit" value="Add Task" id="add_button"> </p>
       </td>
     </tr>
   </table>
  </form>

	<section class="left-container content-section">
		<h2>TODO List</h2>
    {% for task in tasks %}
		<ul><i class="far fa-circle"></i>{{task.taskDescription}}</ul>
    {% endfor %}
		<h2>Completed</h2>
		<!-- <ul><i class="far fa-check-circle"></i>    This isn't functional yet, but it will be soon and will look like this.</ul> -->

	</section>


	<div id="modalGSI" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <span class="close">&times;</span>
	    <form>
	    	Product Owner:<br>
	    	<input type="text" name="productowner"><br>
	    	Scrum Master:<br>
	    	<input type="text" name="scrummaster"><br>
	    	Development Team:<br>
	    	<input type="text" name="devteam"><br>
	    	Sprint:<br>
	    	<input type="text" name="sprint"><br>
	    	Sprint Planning Meeting:<br>
	    	<input type="text" name="sprintplanningmeeting"><br>
	    	Scrum Times:<br>
	    	<input type="text" name="scrumtimes"><br>
	    	Sprint Review Meeting:<br>
	    	<input type="text" name="sprintreviewmeeting"><br>
	    	Retrospective:<br>
	    	<input type="text" name="retrospective"><br>
	    	<input type="submit" value="Save">
	    </form>
	  </div>
	</div>

	<!-- jQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript">
    var modalGSI = document.getElementById('modalGSI');
	// Get the button that opens the modal
	var btnGSI = document.getElementById("btnGSI");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];
	// When the user clicks on the button, open the modal
	btnGSI.onclick = function() {
	    modalGSI.style.display = "block";
	}
	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	    modalGSU.style.display = "none";
	}
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modalGSI) {
	        modalGSI.style.display = "none";
	    }
	}</script>
</body>
