<!DOCTYPE html>


<head>
  <style>
    td {
       border-bottom: 1px solid #ddd;
       text-align: left;
       border-spacing: 1000px;
    }
  </style>
  <div id="header">

          <h1>Main</h1>
          <ul>
            <li><a href="/" id="home">Home</a></li>
            <li><a href="/getProject" class="active" id="create">Start Project</a></li>
            <!-- <li><a href="/budgets">View Previous Budgets</a></li> -->
            <li style="float: right"><form action="/"><a class="button" id="out" href="{{logout_url}}">Log Out</a></form></li>
          </ul>

      </div>

</head>


<body>

  <form action="/getProject" method="post">
    <table class="center" width = 70%>
      <tr>
        <th>Project Name: </th>
        <th>Project Owner: </th>
        <th>Scrum Master: </th>
        <th>Team: </th>
        <th>Sprint: </th>
        <th>Sprint Planning Date: </th>
        <th>Sprint Retrospective: </th>
        <th>Scrum Meeting: </th>

      </tr>

      <tr>
        <td>
          <input name='projname' class="inline" placeholder='Name' required>
        </td>
        <td>
          <input name='projowner' class="inline" placeholder='Name' required>
        </td>
        <td>
          <input name='scrummaster' class="inline" placeholder='Name' required>
        </td>
        <td>
          <input name='team' class="inline" placeholder='Name' required>
        </td>
        <td>
          <input name='sprintnum' class="inline" placeholder='Amount' type="number" step='1' required>
        </td>
        <td>
          <input name='sprintplan' class="inline" placeholder='Date' required>
        </td>
        <td>
          <input name='sprintretro' class="inline" placeholder='Date' required>
        </td>
        <td>
          <input name='scrummeet' class="inline" placeholder='Date' required>
        </td>
        <td id="add_box">
          <p><input type="submit" value="Add Sprint" id="add_button"> </p>
        </td>
      </tr>
    </table>
   </form>


   <ul>
     <table class="center" width = 75%>
        {% for sprint in sprints %}
        <!-- {{sprint.username}} @ {{sprint.date_time}} -->
          <tr>
            <div class="sprints">
              <td width=100px>{{sprint.projectName}}</td>
              <td width=100px>{{sprint.projectOwner}}</td>
              <td width=100px>{{sprint.scrumMaster}}</td>
              <td width=100px>{{sprint.team}}</td>
              <td width=100px>{{sprint.sprintNum}}</td>
              <td width=100px>{{sprint.sprintPlanDate}}</td>
              <td width=100px>{{sprint.sprintRetroDate}}</td>
              <td width=100px>{{sprint.scrumMeetDate}}</td>
            </div>
          </tr>
        {% endfor %}
      </table>
   </ul>

  <br>
  <br>
  <form action="/getTask" method="post">
   <table class="center" width = 70%>
     <tr>
       <th>Task Description: </th>
       <th>Task Owner: </th>
       <th>Task Length: </th>
       <th>Task Notes: </th>
     </tr>

     <tr>
       <td>
         <input name='taskDescription' class="inline" placeholder='Name' required>
       </td>
       <td>
         <input name='taskOwner' class="inline" placeholder='Name' required>
       </td>
       <td>
         <input name='taskLength' class="inline" type="number" step='1' placeholder='Hours' required>
       </td>
       <td>
         <input name='taskNotes' class="inline" placeholder='Team member, notes, etc.'>
       </td>
       <td id="add_box">
         <p><input type="submit" value="Add Task" id="add_button"> </p>
       </td>
     </tr>
   </table>
  </form>
  <br>
  <ul>
    <table class="center" width = 75%>
       {% for task in tasks %}
         <tr>
           <div class="tasks">
             <td width=100px>{{task.taskDescription}}</td>
             <td width=100px>{{task.taskOwner}}</td>
             <td width=100px>{{task.taskLength}}</td>
             {% if task.note %}
             <td width=100px>{{task.taskNotes}}</td>
             {% else %}
             <td width=100px></td>
             {% endif %}
             <td width=100px> Status: {{task.taskStatus}}</td>
             <form action='/taskDone?key={{task.key.urlsafe()}}' method='post'>
               <td><input type="submit" name="done" value="Mark as Done"></td>
             </form>
             <form action='/delete?key={{task.key.urlsafe()}}' method='post'>
              <td><input type="submit" name="key" value="Delete Task"></td>
            </form>
           </div>
         </tr>
       {% endfor %}
     </table>
  </ul>
</body>



<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDX8In6v77C3gMQB6L99mF2PQyLBtul28g",
    authDomain: "silver-surfer-services.firebaseapp.com",
    databaseURL: "https://silver-surfer-services.firebaseio.com",
    projectId: "silver-surfer-services",
    storageBucket: "silver-surfer-services.appspot.com",
    messagingSenderId: "272241968147"
  };
  firebase.initializeApp(config);
</script>
